body {
  margin: 0;
  background: #2b2f36;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 360px 1fr;
  height: 100vh;
}

/* PANEL IZQUIERDO */
.controls {
  background: #1f232a;
  padding: 20px;
  overflow-y: auto;
}

.controls h2 {
  margin-top: 0;
}

.controls label {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 15px;
  display: block;
}

.controls input,
.controls textarea {
  width: 100%;
  background: #2b2f36;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-top: 6px;
}

/* PANEL DERECHO */
.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #31363f;
}
